*{
    margin: 0;padding: 0;box-sizing: border-box;
    /* color: #320064; */
}
nav ul {
    list-style: none;

}
body{
    background-color: #141414;
}
h1{
    color: white;
}
nav{
    height: 5vh;
    background-color: #320064;
    color: aliceblue !important; 
    display: flex;
justify-content: center;
align-items: center;
}
nav ul li{
    /* text-align: center; */
    /* padding: 1.5vh auto; */
    justify-content: center;
    font-size: 28px;

}
.gameContainer{
/* background-color: bisque; */
display: flex;
/* margin: auto; */
justify-content: center;
margin-top: 70px;
}
.container{
display: grid;
grid-template-columns: repeat(3,10vw);
grid-template-rows: repeat(3,10vw);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box{
    border: 1px solid white;
    font-size: 4vw;
    transition: all 0.1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}


.info{
    font-size: 22px;
    color: white;
}
.gameinfo{
padding: 0 40px;
}
.br0{
    border-right: 0;
}
.bl0{
    border-left: 0;
}
.bt0{
    border-top: 0;
}
.bb0{
    border-bottom: 0;
}
.imgBox img{
    width: 0;
    transition: width 1s ease-in-out;
}   
#reset{
    cursor: pointer;
    margin: 10px 40px;
padding: 8px 20px;
border-radius: 50px;
border: none;
background-color: #320064;
color: aliceblue;
font-size: 12px;
}
#reset:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
@media (max-width: 600px) {
    .gameContainer {
    flex-wrap: wrap;
    }
    .container{
        grid-template-columns: repeat(3,20vw);
grid-template-rows: repeat(3,20vw);
    }
    .boxtext{
        font-size: 40px;
        color: aliceblue;
    }
    .imgBox{
        display: flex;
        justify-content: center;
    }
    .gameinfo{
        margin-top: 40px;
    }
  }